body {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;

}

.default-button {
    align: right;
    text-align: center;
    color: #0C4B33;
    background: #C9F0DD !important;
    border: none;
    margin: 10px !important;
}

.custom-header {
    background: #0C4B33;
    overflow: hidden;
    margin: 0;
    padding: 10px 0 6px;
    position: relative;
    z-index: 0;
    color: white;
    font-size: 20px;
    display: flex;
}

.nav-links {
    font-size: 1rem;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 0;
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
 }

ul {
    list-style-type: none;
}

.title {
    color: white;
    font-weight: 300;
    font-size: 20px;
    background: #44B78B;
    padding: 0;
    left: 0;
    width: 100vw !important;
}

.added_field {
    color: black;
    font-weight: 300;
    font-size: 20px;
    background: #e6ffec;
    padding: 0;
    left: 0;
    width: 100vw !important;
}

.deleted_field {
    color: black;
    font-weight: 300;
    font-size: 20px;
    background: #ffebe9;
    padding: 0;
    left: 0;
    width: 100vw !important;
}

.nothing_field {
    color: black;
    font-weight: 300;
    font-size: 20px;
    background: #acb3b0;
    padding: 0;
    left: 0;
    width: 100vw !important;
}
.counter {
    width: 3vw !important;
    text-align: center;
    background-color: #ccffd8;
}
.file_div{
    background-color: #f6f8fa;
    border-radius: 20px;
    border-color: #96a59f;
    border-width: 2px;
}
.card_ch{
    margin-left: 15% !important;
    width: 70%;
    background-color: #f6f8fa;
    border-width: thin;
    border-color: #d0d7de;
    border-style: solid;
    border-bottom-color: #d0d7de !important;
    border-bottom-width: thin !important;
    border-bottom-style: solid !important;
    border-radius: 6px;
    

}