{% extends "list_branches.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="title">Code</h1>
<div class="container d-flex ">
    <br/>
    <div class="dropdown p-r-5">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{object.name}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for b in branches %}
                <a class="dropdown-item" href="{% url 'branch_detail' b.id %}">{{ b.name }}</a>
          {% endfor %}
      </div>
    </div>
    <a class="btn btn-secondary p-r-5" href="{% url 'project_branches' object.project.id %}">Branches</a>
</div>

{% endblock content %}
