{% extends "base.html" %} {% block content %}
<h1 class="title">Commit details</h1>
<article class="container">
  <div>
    <div class="card mb-3">
      <div class="card-header">
        <h4>{{ object.log_message }}</h4>
        {% if branches %}
        <a class="text-muted"
          >{{ branches|length}} branch{{ branches|length|pluralize:"es" }}</a
        >
        {% for branch in branches %}
        <a href="{% url 'branch_detail' branch.id %}">{{ branch }}</a>
        {% endfor %} {% else %}
        <p class="text-muted">There are no branches</p>
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">
          <b>{{ object.author }}</b> committed on {{ object.date_time }}
        </p>
        {% if parents %}
        <a class="card-text text-muted"
          >{{ parents|length }} parent{{ parents|length|pluralize }}</a
        >
        {% for parent in parents %}
         <a class="card-text" href="{% url 'commit_detail' parent.id %}">{{ parent }}</a>
        {% endfor %} {% else %}
        <p class="text-muted">There are no parent commits</p>
        {% endif %}

        <p><span class="text-muted">commit</span> {{ object.hash }}</p>
      </div>
    </div>
  </div>
  <div>
    {#
    <a class="btn btn-primary" href="{% url 'commit_update' object.id %}"
      >Update</a
    >#} {#
    <a class="btn btn-danger" href="{% url 'commit_delete' object.id %}"
      >Delete</a
    >#}
  </div>
</article>
{% endblock content %}
