{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="title">Edit issue</h1>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <a class="btn btn-primary" href="{% url 'issue_detail' issue.id %}">No</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock content %}