{% extends "base.html" %}
{% block content %}
<h1 class="title">Issue details</h1>
<article class="container">
    <div>
        <h2> #{{ object.id }} - {{ object.title }}</h2>
        <p> Description - {{ object.description }}</p>
        <p> Creator - {{ object.creator }}</p>
        <p> Assignee - {{ object.assigned_to }}</p>
        <p> Date Created - {{ object.date_created }}</p>
        <p> Milestone - {{ object.milestone }}</p>
        <p> Project - {{ object.project }}</p>
        <p> Open - {{ object.is_open }}</p>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'project_issues' object.project.id %}">Back</a>
        {%if request.user in object.project.developers.all %}
            <a class="btn btn-primary" href="{% url 'issue_update' object.id %}">Update</a>  
        {%endif%}
        
        {%if request.user in object.project.developers.all %}
            <a class="btn btn-warning" href="{% url 'issue_state_toggle' object.id %}">
                {% if object.is_open %}
                    Close
                {% else %}
                    Reopen
                {% endif %}
            </a>
        {%endif%}
        
        {%if request.user in object.project.developers.all %}
            <a class="btn btn-danger" href="{% url 'issue_delete' object.id %}">Delete</a>
        {%endif%}
    </div>
</article>
{% endblock content %}