{% extends "base.html" %}
{% block content %}
<h1 class="title">Edit label</h1>
<article class="container">
    <div>
        <h2> Name - {{ object.name }}</h2>
        <p> Description - {{ object.description }}</p>
        <span class="badge badge-primary" style="background-color: {{object.color}}; margin:10px;"> Color - {{ object.color }}</span>

    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'label_update' object.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'label_delete' object.id %}">Delete</a>
    </div>
</article>
{% endblock content %}