{% extends 'base.html' %}
{% block content %}
{% if branch %}
<h1 class="title">Commits for <b>{{ branch.name }} [Project {{ branch.project.title }}]</b></h1>
{% endif %}

<div class="container">
    <a class="btn btn-primary default-button" href="{% url 'add_commit' branch_id %}">New Commit</a>
    <br/>
    {% if commits %}
    {% for commit in commits %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">{{ commit }} </p>
{#            <a class="btn btn-danger" href="{% url 'commit_delete'  commit.id %}">Delete</a>#}
            <a class="btn btn-primary" href="{% url 'commit_detail' commit.id %}">View</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    There are no added commits.
    {% endif %}
</div>
{% endblock %}