{% load crispy_forms_tags %}
{% if comments %}
{% for c in comments %}
<div class="comment-block" style="background-color: white">
    <div class="min-width-0"></div>
    <div class="d-flex comment-block">
        <div class="col-auto mr-auto mt-md-2">
            <p class="card-text"><b>{{ c.writer.username }} </b> commented <i class="col-auto"> {{ c.date_time }}</i>
            </p>
        </div>
        <div class="col-auto">
            <div class="row">
                {% if request.user.is_authenticated %}
                <div class="col mb-0">
                    <details class="dropdown ">
                        <summary aria-label="Add or remove reactions" aria-haspopup="true" data-view-component="true"
                                 class="p-0 mr-0 d-flex px-1 py-2">
                            <svg height="18" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="18"
                                 data-view-component="true"
                                 class="octicon octicon-smiley social-button-emoji">
                                <path fill-rule="evenodd"
                                      d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM5 8a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zM5.32 9.636a.75.75 0 011.038.175l.007.009c.103.118.22.222.35.31.264.178.683.37 1.285.37.602 0 1.02-.192 1.285-.371.13-.088.247-.192.35-.31l.007-.008a.75.75 0 111.222.87l-.614-.431c.614.43.614.431.613.431v.001l-.001.002-.002.003-.005.007-.014.019a1.984 1.984 0 01-.184.213c-.16.166-.338.316-.53.445-.63.418-1.37.638-2.127.629-.946 0-1.652-.308-2.126-.63a3.32 3.32 0 01-.715-.657l-.014-.02-.005-.006-.002-.003v-.002h-.001l.613-.432-.614.43a.75.75 0 01.183-1.044h.001z">
                                </path>
                            </svg>
                        </summary>
                        <form method="post">
                            <ul class="dropdown-menu mt-2 d-flex mb-2 ">
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="+1"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png"
                                                 class="d-flex">👍
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="-1"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png"
                                                 class="d-flex">👎
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="smile"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png"
                                                 class="d-flex">😄
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="tada"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f389.png"
                                                 class="d-flex">🎉
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="thinking_face"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f615.png"
                                                 class="d-flex">😕
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="heart"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"
                                                 class="d-flex">❤️
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="rocket"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f680.png"
                                                 class="d-flex">🚀
                                        </g-emoji>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="submit" data-view-component="true" class="dropdown-item btn">
                                        <g-emoji alias="eyes"
                                                 fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f440.png"
                                                 class="d-flex">👀
                                        </g-emoji>
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </details>
                </div>
                {%endif%}
                {%if request.user in issue.project.developers.all %}
                <div class="col mb-0">
                    <a type="submit"
                       href="{% url 'comment_update' c.id %}"
                       style="font-size: 30px !important; border: none !important;
                            background: none !important; margin-top: -15px;"
                       title="Edit comment">
                        &#8230;
                    </a>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
    <div style="background-color: white; text-align: left;">
        <div class="m-b-i" dir="auto">{{c.content|safe}}</div>
    </div>
</div>
<br/>
{% endfor %}
{% else %}
There are no added comments.
{% endif %}