{% extends "base.html" %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-auto">
            <a href="#" class="btn btn-success disabled"><span class="fa fa-github"></span>Linked to {{ github_account.login }}</a>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <h4 class="text-success">Owned repositories</h4>
            <hr>
            {%  for item in repo_info.json %}
            {%if item.owner.login|lower == github_account.login|lower %}
                <div class="card my-3 p-3">
            <h3>{{ item.name }}</h3>
            <h5>{{ item.full_name }}</h5>
                {% if item.private %}
                    <p>Private</p>
                {% else %}
                    <p>Public</p>
                {% endif %}
                <p>Owner: {{ item.owner.login }}</p>
                {% if item.description is None %}
                    <p class="text-muted">There is no description.</p>
                {% else %}
                    <p>{{ item.description }}</p>
                {% endif %}

                <a href="{% url 'github_branch_commits' item.owner.login item.name 'main' %}">See branch history</a>
{#                <br>#}
                <a href="#todo" style="pointer-events: none; color: gray;">Create Project</a>
{#                <br>#}
                <a href="{{ item.html_url }}">See on Github</a>
                     <a class="btn btn-primary" href="{% url 'insights' item.owner.login item.name %}">Insights</a>
                <p>There is more...</p>
                </div>
            {%endif%}
            {% endfor %}
        </div>
        <div class="col">
            <h4>Contributed in repositories</h4>
            <hr>
            {%  for item in repo_info.json %}
            {%if item.owner.login|lower != github_account.login|lower %}
                <div class="card my-3 p-3">
            <h3>{{ item.name }}</h3>
            <h5>{{ item.full_name }}</h5>
                {% if item.private %}
                    <p>Private</p>
                {% else %}
                    <p>Public</p>
                {% endif %}
                <p>Owner: {{ item.owner.login }}</p>
                {% if item.description is None %}
                    <p class="text-muted">There is no description.</p>
                {% else %}
                    <p>{{ item.description }}</p>
                {% endif %}

                <a href="{% url 'github_branch_commits' item.owner.login item.name 'main' %}">See branch history</a>
{#                <br>#}
                <a href="#todo" style="pointer-events: none; color: gray;">Create Project</a>
{#                <br>#}
                <a href="{{ item.html_url }}">See on Github</a>
                <p>There is more...</p>
                </div>
            {%endif%}
            {% endfor %}
        </div>
    </div>
</div>

<br>

{% endblock %}