{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="title">Add new issue</h1>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <a class="btn btn-danger" href="{% url 'project_issues' project_id %}">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock content %}