{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load commit_extras %}
{% block content %}
<h1 class="title">
    <div class="col-auto mr-auto" style="display:flex;">
        <div style="border-bottom: groove">
            {% block advanced_search %}
            {% include "advanced_search.html" with s1=True s2=True s3=False project_id=0 user_id=user.id %}
            {% endblock advanced_search %}
        </div>
        <div style="margin-top: 8px;margin-left:20px">Profile overview</div>
    </div>
</h1>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <label><b>Username</b></label>
            </div>
            <div class="col-auto">
                <p>{{user.username}}</p>
            </div>
            
        </div>
        <div class="row">
            {%if authorized_account.login %}
                <div class="col-auto">
                    <a href="#" class="btn btn-success disabled"><span class="fa fa-github"></span>Linked to {{ authorized_account.login }}</a>
                </div>
            {%else %}
                <p>{{ error_msg }}</p>
                <div class="col-auto">
                    <a href="{{ github_oauth_url }}" class="btn btn-danger"><span class="fa fa-github"></span>Authorize github</a>
                </div>
            {%endif%}
        </div><br>
    </div>

    <h1 class="title">User's public projects</h1>
    <div class="container">
        
        {% if projects %}
        {% for project in projects %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ project }} </p>
                <a class="btn btn-primary" href="{% url 'project_detail' project.id %}">View</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        This user has no projects.
        {% endif %}
    </div>
    <h1 class="title">User's contributions</h1>
    <div class="container">
        {% if actions %}

            <div class="tab-content">
                <div class="tab-pane  active" >
                    {% for a in actions %}
                        {% if a.type == 'PushEvent' and a.payload.commits %}
                            {% for commit in a.payload.commits %}
                            {% if commit.author.name == authorized_account.login %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <p class="card-text h5"><span class="text-muted">[{{ commit.sha|shorten_sha }}]</span> <b>{{ commit.message }}</b></p>
           
                                    <p class="card-text h6"><b>{{ commit.author.name }}</b> <span class="text-muted">
                                        committed {{ a.created_at|convert_str_date|timesince}} ago</span></p>
            
                                    <a href="{% url 'changes' '_' a.repo.name commit.sha %}">View</a> 
           
                                </div>
                            </div> 
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        
        {% else %}
        This user has no commits.
        {% endif %}
    </div>

{% endblock content %}