{% extends "base.html" %}
{% block content %}
<h1 class="title">Edit repository</h1>
<article class="container">
    <div>
        <h2> Title - {{ object.title }}</h2>
        <p> Description - {{ object.description }}</p>
        <p> Licence - {{ object.licence }}</p>
        <p> Visibility - {{ object.visibility | title }}</p>
        <p> Link - {{ object.link }}</p>
        <p> Lead - {{ object.lead }}</p>
        <p> Developers - {{ object.developers }}</p>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'branch_detail' main_branch.id %}">Code</a>
        <a class="btn btn-primary" href="{% url 'project_issues' object.id %}">Issues</a>
        <a class="btn btn-primary" href="{% url 'list_milestones' object.id %}">Milestones</a>
        <a class="btn btn-primary" href="{% url 'project_update' object.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'project_delete' object.id %}">Delete</a>
    </div>
</article>
{% endblock content %}