{% extends "base.html" %}
{% block content %}
<h1 class="title">Project details</h1>
<article class="container">
    <div>
        <h2> Title - {{ object.title }}</h2>
        <p> Description - {{ object.description }}</p>
        <p> Licence - {{ object.licence }}</p>
        <p> Visibility - {{ object.visibility | title }}</p>
        <p> Link - {{ object.link }}</p>
        <p> Lead - <a href="{% url 'profile_preview' object.lead.username %}">{{ object.lead }}</a></p>
        <p> Developers:</p>
        {% for dev in object.developers.all %}
            <a href="{% url 'profile_preview' dev.username %}">{{ dev.username }}</a>
        {% endfor %}
        <p>Number of times this project has been forked {{ object.number_of_forked_project }}</p>
    <hr>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'branch_detail' main_branch.id %}">Code</a>
        <a class="btn btn-primary" href="{% url 'project_issues' object.id %}">Issues</a>
        <a class="btn btn-primary" href="{% url 'list_pull_requests' object.id %}">Pull requests</a>
        <a class="btn btn-primary" href="{% url 'list_milestones' object.id %}">Milestones</a>
        <a class="btn btn-primary" href="{% url 'list_labels' object.id %}">Labels</a>
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'star_project' object.id request.user.username %}">Star project</a>
            <a class="btn btn-primary" href="{% url 'watch_project' object.id request.user.username %}">Watch project</a>
            <a class="btn btn-primary" href="{% url 'fork_project' object.id request.user.username %}">Fork project</a>
        {% endif %}
        {% if request.user == project.lead %}

        <a class="btn btn-primary" href="{% url 'project_update' object.id %}">Update</a>
        {% endif %}
        {% if request.user == project.lead %}
        <a class="btn btn-danger" href="{% url 'project_delete' object.id %}">Delete</a>
        {% endif %}
    </div>
</article>
{% endblock content %}