{% extends "base.html" %}
{% block content %}
<h1 class="title">Pull request details</h1>
<article class="container">
    <div class="row">
        <div class="col-auto mr-auto">
            <h2> {{ pr.title }}</h2>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{% url 'list_pull_requests' pr.project.id %}">Back to list</a>
            {% if request.user == pr.creator %}
            <a class="btn btn-primary" href="{% url 'pull_request_update' pr.id %}">Update</a>
            {% endif %}
            {% if request.user == pr.creator %}
            <a class="btn btn-danger" href="{% url 'pull_request_delete' pr.id %}">Delete</a>
            {% endif %}
        </div>
    </div>
    <div class="grid-container">
        <div class="item1"></div>
        <div class="item2 comment-block">
            <p> {{ pr.creator }} requested to merge
                <a href="{% url 'branch_detail' pr.source.id %}">{{ pr.source.name }}</a> into
                <a href="{% url 'branch_detail' pr.target.id %}">{{ pr.target.name }}</a>
            </p>
            <p> Description - {{ pr.description }}</p>
            <p> Date - {{ pr.date_created|date:"d M, Y" }}</p>
            <p> Assigned to - {{ pr.assigned_to | title }}</p>
            <p> Created by - {{ pr.creator }}</p>
            <p> State - {{ pr.state }}</p>
            <hr>
        </div>
        <div class="item1">
            {% block comment_content %}
            {% include "new_comment.html" %}
            {% endblock %}
        </div>
    </div>
    <br>
</article>
{% endblock content %}